.admin-page {
  margin-top: -100px;
  margin-left: 15%;
  width: 60vw;
  height: 50vh;
  border: 10px solid lightgrey;
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  /* justify-content: center;
  justify-self: center; */
}

.title {
  color: red;
}
