* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.app-class {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 233, 215);
  justify-content: flex-start;
}

/* Style the header */
header {
  background-color: rgb(39, 128, 128);
  text-align: left;
  align-items: center;
  align-content: center;
  color: white;
  height: 10vh;
}

.page-div {
  height: 80vh;
  margin: 10px;
}


/* Style the footer */
footer {
  /* height: 50px;
  background-color: rgb(43, 82, 134);
  padding: 10px;
  text-align: center;
  color: white; */
}
.wtf-div {
  background-color: #478b7d;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 15px;
  color: white;
  padding-left: 20px;
}





/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
